@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-family: "cursive";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0!important;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.main-hd {
	text-align: center;
	margin: 50px;
}
.col-lg-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
